/* Мягкий пастельный дизайн */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fcfafd;
    color: #4c4b4b;
    padding: 20px;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fefdfd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #6C5EBA;
}

label,
input[type=text],
input[type=number],
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

input:focus,
select:focus {
    outline: none;
    border-color: #6C5EBA;
    box-shadow: 0 0 5px rgba(108, 94, 186, 0.5);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6C5EBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #5A4CAF;
}

#results p {
    font-size: 18px;
    font-weight: bold;
    color: #4B3D99;
}

.material-select input[type=radio] {
    margin-right: 5px;
}

.type-select select option,
.thickness-select select option,
.processing-select select option {
    padding: 5px;
}
