/* styles.css */
.calculator-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

label, input, select, button, textarea {
    display: block;
    width: 200%;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 32px;
    padding: 20px;
}

textarea {
    height: 200px;
    resize: vertical;
}
